[mysqld]
default_storage_engine=InnoDB
innodb_autoinc_lock_mode=2
innodb_flush_log_at_trx_commit=0
innodb_buffer_pool_size=128M
binlog_format=ROW
wsrep_on=ON
wsrep_provider=/usr/lib/libgalera_smm.so
wsrep_node_name="{{ ansible_hostname  }}"
wsrep_node_address="{{  ansible_ens33.ipv4.address }}"
wsrep_cluster_name="galera4"
wsrep_cluster_address="gcomm://{{ groups.mysql[0]  }},{{ groups.mysql[1]  }},{{ groups.mysql[2]  }}" 
wsrep_provider_options="gcache.size=128M; gcache.page_size=128M"
wsrep_slave_threads=4
wsrep_sst_method=rsync
bind-address=0.0.0.0
